# Entorno virtual
venv/
.env
*.env

# Compilación / caché Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.pdb

# Config VS Code
.vscode/

# Archivos temporales y backups
*.log
*.tmp
*.bak
*.swp

# Bases de datos locales
*.sqlite3
*.db

# Frontend (Node)
node_modules/
dist/
build/

# IDEs
.idea/
.DS_Store
.AppleDouble

# Producción
*.pem
*.key
*.crt

# PyInstaller
*.spec

# Docker
*.pid

# Migraciones de desarrollo (opcional)
alembic/versions/

# Caché de __init__ auto-generados
**/__init__.pyc


# Otros
coverage/
htmlcov/
